.int-labels{
    background-color:#63B0CD;
    opacity:0.9;
    text-align: center;
    color: white;
    position: relative;
    bottom:100px;
    width:200px;
    padding:2px;
};

.int-image{
    width:100%;
    height:auto;
    /* border-style: solid;
    border-width: 10px;
    border-color:#63B0CD; */

};

.interest-div{
    position: absolute;
}

#button-div{
    align-content: center;
}

#submit{
    background-color: #39393A;
}